@model EPAM.Library.MVCPL.ViewModels.Book.DisplayCardBookVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CardBook</title>
</head>
<body>
    <div>
        <h4>DisplayCardBookVM</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfPages)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfPages)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlaceOfPublication)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlaceOfPublication)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.YearOfPublishing)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YearOfPublishing)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Authors)
            </dt>

            <dd>
                @foreach (var author in Model.Authors)
                {
                    @Html.DisplayName(author.Name + " " + author.Surname + ", ")
                }
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
