@model EPAM.Library.MVCPL.ViewModels.Patent.DisplayCardPatentVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CardPatent</title>
</head>
<body>
    <div>
        <h4>DisplayCardPatentVM</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfPages)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfPages)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegistrationNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfApplication)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfApplication)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfPublication)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfPublication)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inventors)
            </dt>

            <dd>
                @foreach (var author in Model.Inventors)
                {
                    @Html.DisplayName(author.Name + " " + author.Surname + ", ")
                }
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
