@model Epam.Library.Entities.Patent
@using Epam.Library.Entities

@functions{
    public string GetName(Patent patent)
    {
        string Name = "";
        Name += String.Format("«{0}» от {1}", patent.Name, patent.DateOfPublication.ToString("d"));
        return Name;
    }
}

<tr style="background-color: aqua">
    <td>
        @Html.ActionLink(GetName(Model), "Card", new { id = Model.Id })
    </td>
    <td>
        @Html.DisplayFor(model => model.RegistrationNumber)
    </td>
    <td>
        @Html.DisplayFor(model => model.NumberOfPages)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Card", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>
