@model Epam.Library.Entities.Paper
@using Epam.Library.Entities

@functions{
    public string GetName(Paper paper)
    {
        string Name = "";
        if (paper.Number == -1)
        {
            Name += paper.Name + " " + paper.YearOfPublishing;
        }
        else
        {
            Name += String.Format("{0} №{1}/{2}", paper.Name, paper.Number, paper.YearOfPublishing);
        }
        return Name;
    }
}

<tr>
    <td>
        @Html.ActionLink(GetName(Model), "Card", new { id = Model.Id })
    </td>
    <td>
        @Html.DisplayFor(model => model.ISSN)
    </td>
    <td>
        @Html.DisplayFor(model => model.NumberOfPages)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Card", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>
